/* Estilos generales para el contenedor de las ordenes */
.ordenes {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ordenes h1 {
    font-size: 2rem;
    color: var(--color-dark);
}

.ordenes h2{
    margin-left: auto;
}

.ordenes h2 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007bff;
    transition: color 0.3s ease;
}

.ordenes h2 a:hover {
    color: #0056b3;
}

/* Estilos de la tabla */
.ordenes-tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: var(--color-white);
}

.ordenes-tabla th, .ordenes-tabla td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-white);
}

.ordenes-tabla th {
    background-color: #007bff;
    font-size: 1rem;
    color: var(--color-dark);
}

.ordenes-tabla td {
    background-color: var(--color-background);
    color: var(--color-dark);
}

.ordenes-tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ordenes-tabla tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Estilo de mensaje "No Ordenes" */
.ordenes-tabla li {
    list-style-type: none;
    color: #ff0000;
    font-size: 1.2rem;
    padding: 10px 0;
}
