{% extends 'core/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "orden/css/orden-list.css" %}">
{% endblock stylesheets %}

{% block content %}
<div class="ordenes">
    <h1>Ordenes</h1>
    <table class="ordenes-tabla">
        <tr>
            <th>Nombre del cliente</th>
            <th>Vehiculo</th>
            <th>Patente</th>
            <th>Telefono</th>
            <th>Cobertura</th>
            <th>Siguiente paso</th>
        </tr>
        {% for orden in ordenes %}
        <tr>
            <td><a href='{% url 'orden:detail' id=orden.id %}'>{{orden.nombre_cliente}}</a></td>
            <td>{{orden.marca_vehiculo}} {{orden.modelo_vehiculo}}</td>
            <td>{{orden.patente_vehiculo}}</td>
            <td>{{orden.telefono_cliente}}</td>
            <td>{{orden.get_modalidad_display}}</td>
            <td class='estado-vehiculo'>{{ orden.get_estado_display }}</td>
        </tr>
        {% empty %}
        <li>No Ordenes yet.</li>
        {% endfor %}
    </table>
    <h2><a href="{% url "orden:create" %}">Agregar Orden</a></h2>
</div>
{% endblock content %}